body {
    margin: 0;
    padding: 0;
  }

  .container-terminal{
    display: flex;
  }
  
  .terminal{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 115vh;
    height: 50vh;
    background-color: black;
    transform: translate(-50%, -50%);
    border: #00D300 5px solid;
    color: #00D300;
  }
    


  .pergunta{
    color: #00D300;
    text-align: center;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    padding-top: 150px;
  }
    
  
  .grid-container {
    display: grid;
    position: absolute;
    align-content: end;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 50px;
    top: 60%;
    left: 40%;
  }
    
  
  .box {
    background-color: #000000;
    border: #00D300 2px solid;
    color: #00D300;
    text-align: center;
    padding: 20px;
    font-family: 'Press Start 2P', cursive;
  }

  .box:hover{
    background-color: #00D300;
      color: aliceblue;
  }
    
    
    
  
  
  