body {
  margin: 0;
  padding: 0;
}

#back-home2 {
  position: absolute;
  top: 5%;
  left: 2%;
}

.container-terminal {
  display: flex;
}

.terminal {
  width: 700px;
  left: 50%;
  top: 11%;
  height: 300px;
  position: absolute;
  background-color: black;
  border: #00d300 5px solid;
  transform: translateX(-50%);
}

.pergunta {
  margin: 80px;
  font-size: 130%;
  color: #00d300;
  line-height: 2;
  user-select: none;
  text-align: center; 
  font-family: "Press Start 2P", cursive;
}

.grid-container {
  top: 70%;
  left: 50%;
  display: grid;
  grid-gap: 50px;
  line-height: 1.5;
  position: absolute;
  transform: translate(-50%, -50%);
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.box {
  width: 400px;
  max-width: 600px;
  min-height: 50px;
  max-height: 200px;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  color: #00d300;
  background-color: black;
  border: #00d300 2px solid;
  transition: transform 0.3s ease-in-out;
}

.box p {
  width: 100%;
  height: 100%;
  line-height: 2;
  text-align: center;
  font-size: 15px;
  user-select: none;
  font-family: "Press Start 2P", cursive;
}

.box:hover {
  color: aliceblue;
  transform: scale(1.2);
  background-color: #00d300;
}

/*RESPONSIVE*/

@media screen and (max-width: 768px) {
  #back-home2 {
    top: 1%;
  }

  #back-home2 img {
    width: 0%;
  }

  .terminal {
    top: 2%;
    height: 200px;
    width: 355px;
  }

  .pergunta {
    font-size: 17px;
    width: 100%;
    margin: auto;
    padding-top: 50px;
  }

  .grid-container {
    grid-gap: 15px;
    grid-template-columns: repeat(1, 1fr);
  }

  .box {
    width: 310px;
    max-height: 70px;
    padding: 5px;
  }

  .box p {
    width: 100%;
    font-size: 10px;
  }
}
