body {
  margin: 0;
  padding: 0;
}

.container-terminal {
  display: flex;
}

.terminal {
  top: 30%;
  left: 50%;
  width: 115vh;
  height: 50vh;
  color: #00D300;
  user-select: none;
  position: absolute;
  background-color: black;
  border: #00D300 5px solid;
  transform: translate(-50%, -50%);
}



.pergunta {
  font-size: 30px;
  color: #00D300;
  text-align: center;
  padding-top: 150px;
  font-family: 'Press Start 2P', cursive;
}

.grid-container {
  top: 70%;
  left: 50%;
  display: grid;
  grid-gap: 50px;
  position: absolute;
  transform: translate(-50%, -50%);
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.box {
  padding: 20px;
  cursor: pointer;
  color: #00D300;
  user-select: none;
  text-align: center;
  background-color: black;
  border: #00D300 2px solid;
  font-family: 'Press Start 2P', cursive;
  transition: transform 0.5s ease-in-out;
}

.box:hover {
  color: aliceblue;
  transform: scale(1.20);
  background-color: #00D300;
}