body {
    font-family: 'Press Start 2P', cursive;
    background-color: #000;
    color: #fff;
    text-align: center;
  }

  h1 {
    font-size: 36px;
    margin-top: 50px;
    letter-spacing: 4px;
  }

  table {
    margin: 50px auto;
    border-collapse: collapse;
  }

  th {
    font-size: 24px;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  td {
    font-size: 18px;
    padding: 10px;
    border: 2px solid #fff;
  }

  tr:nth-child(even) {
    background-color: #555;
  }

  tr:nth-child(odd) {
    background-color: #333;
  }