 body {
    margin: 0;
    padding: 0;
  }
  
  #titulo{
    font-family: 'Rubik Glitch';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 114px;
    text-align: center;
    padding-bottom: 600px;
    color: #00D300;
    }

    .botao{
      display: flex;
      position: absolute;
      flex-direction: column;
      top: 50%;
      left: 41%;
    }
      
    
    .btn{
      margin: 30px;
      text-decoration: none;
      text-align: center;
      font-family: 'Press Start 2P', cursive;
      font-size: 20px;
      color: #00D300;
      background-color: black;
      border: #00D300 5px solid;
      padding: 16px 64px;
    }

    .btn:hover{
      background-color: #00D300;
      color: aliceblue;
    }
      

      
        
        

      
    
  
  