body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  canvas {
    background: black;
    display: block;
    position: absolute;
    z-index: -1;
  }
  
  #titulo{
    font-family: 'Rubik Glitch';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 114px;
    text-align: center;
    padding-bottom: 600px;
    color: #00D300;
    
    /*Efeito Neon*/
    /*text-shadow: 0 0 5px #fff,
               0 0 5px #fff,
               0 0 20px #fff,
               0 0 30px #0f0,
               0 0 50px #0f0,
               0 0 60px #0f0,
               0 0 70px #0f0,
               0 0 50px #0f0;*/


  }